<article class="post">
	<header>
		<div class="title">
			<h2><%= @author.name_uk %></h2>
			<p><%= mail_to @author.email %></p>
		</div>
		<div class="meta">
			<time class="published"><%= localize(@author.created_at, format: :authjoin) %></time>
			<%= link_to @author, class: "author" do %>
				<span class="name"><%= t('posts') %><%= @author.posts.size %></span>
				<%= cl_image_tag(@author.avatar) %>
			<% end %>
		</div>
	</header>
	<section>
		<p><%= sanitize(@author.info_uk) %></p>
	</section>
</article>
<%= render partial: 'shared/posts/post', collection: @posts %>
<ul class="actions pagination">
	<li><%= link_to_previous_page @posts, t('prev'), class: "button big previous" %></li>
	<li><%= link_to_next_page @posts, t('next'), class: "button big next" %></li>
</ul>