<article class="post">
	<header class="teacher">
		<div class="title">
			<h2><%= link_to teacher.name_uk, teacher %></h2>
			<p><%= teacher.short_info %></p>
			<p><%= t('works', year: teacher.since) %></p>
		</div>
		<div class="meta">
			<%= link_to teacher, class: "teacher" do %>
				<%= image_tag(teacher.photo) %>
			<% end %>
		</div>
	</header>
</article>