<article class="post">
	<header>
		<div class="title">
			<h2><%= link_to post.title_uk, post %></h2>
			<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
		</div>
		<div class="meta">
			<time class="published"><%= localize(post.created_at, format: :short) %></time>
			<%= link_to post.author, class: "author" do %>
				<span class="name"><%= post.author.name_uk %></span>
				<%= image_tag(post.author.image_url) %>
			<% end %>
		</div>
	</header>
	<a href="#" class="image featured"><%= image_tag(post.image_url) %></a>
	<p><%= truncate(post.body_uk, length: 200, separator: ' ') %></p>
	<footer>
		<ul class="actions">
			<li><%= link_to t('continue'), post, class: "button big" %></li>
		</ul>
		<ul class="stats">
			<li><%= link_to post.rubric.name_uk, post.rubric %></li>
			<li><a href="#" class="icon fa-heart">28</a></li>
			<li><a href="#" class="icon fa-eye">128</a></li>
		</ul>
	</footer>
</article>