<article class="post">
	<header>
		<div class="title">
			<h2><%= @post.title_uk %></h2>
			<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
		</div>
		<div class="meta">
			<time class="published"><%= time_ago_in_words(@post.created_at) %></time>
			<a href="#" class="author"><span class="name"><%= @post.author.name_uk %></span><%= image_tag(@post.author.image_url) %></a>
		</div>
	</header>
	<a href="#" class="image featured"><%= image_tag(@post.image_url) %></a>
	<p><%= @post.body_uk %></p>
	<footer>
		<ul class="stats">
			<li><a href="#"><%= @post.rubric.name_uk %></a></li>
			<li><a href="#" class="icon fa-heart">28</a></li>
			<li><a href="#" class="icon fa-eye">128</a></li>
		</ul>
	</footer>
</article>