<!-- Header -->
	<header id="header">
		<h1><a href="/"><%= t('makov') %></a></h1>
		<nav class="links">
			<ul>
				<li><a href="/posts"><%= t('news') %></a></li>
				<li><a href="/teachers"><%= t('teachers') %></a></li>
				<li><a href="/history"><%= t('history') %></a></li>
				<li><a href="/contacts"><%= t('contacts') %></a></li>
				<li><a href="/about"><%= t('about') %></a></li>
				<li><a href="http://live.makoveyschool.com/"><b style="color:red">Live</b></a></li>
				<li>
					<% if session[:classs_id] %>
						<%= content_tag :a, @cur_class.name_uk, href: schedule_url(@cur_class) %>
					<% else %>
						<%= content_tag :a, t('schedule'), href: "/schedule" %>
					<% end %>
				</li>			
			</ul>
		</nav>
		
	</header>