<!-- Header -->
	<header id="header">
		<h1><a href="/"><%= t('makov') %></a></h1>
		<nav class="links">
			<ul>
				<li><a href="/schedule"><%= t('schedule') %></a></li>
				<li><a href="/posts"><%= t('news') %></a></li>
				<li><a href="/teachers"><%= t('teachers') %></a></li>
				<li><a href="/history"><%= t('history') %></a></li>
				<li><a href="/about"><%= t('about') %></a></li>
			</ul>
		</nav>
		<nav class="main">
			<ul>
				<li class="search">
					<a class="fa-search" href="#search">Search</a>
					<form id="search" method="get" action="#">
						<input type="text" name="query" placeholder=<%= t('search') %> />
					</form>
				</li>
			</ul>
		</nav>
	</header>