<!DOCTYPE html>
<html>
<head>
  <title>Makovey Site</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<%= render 'layouts/header' %>
			<div id="main">
		<!--	<%= render 'layouts/intro' %>-->
				<%= yield %>
			</div>
		<%= render 'layouts/sidebar' %>
	</div>
</body>
</html>
